@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --clock-size: 400px;
}
body {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
header {
    text-align: center;
    font-size: 40px;
    margin: 30px auto;
    flex-grow: 1;
    flex-basis: 0;
    width: var(--clock-size);
    color: white;
}
.analog {
    width: var(--clock-size);
    height: var(--clock-size);
    margin: auto;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    background: linear-gradient(90deg,#bedfdc 0%, #bedfdc 50%, #f9b8b6 50%, #f9b8b6 100%) no-repeat center;
    background-size: cover;
}
[class^='no'], [class$='-div'] {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
[class$='-hand'] {
    margin: auto;
    transform-origin: bottom;
    border-radius: 5px;
}
.hour-div {
    padding-top: 13%;
}
.min-div {
    padding-top: 7%;
}
.sec-div {
    padding-top: 10%;
}
.hour-hand {
    width: 6px;
    height: 37%;
    background-color: black;
}
.min-hand {
    width: 4px;
    height: 43%;
    background-color: black;
}
.sec-hand {
    width: 2px;
    height: 40%;
    background-color: red;
}
.digital {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 20px auto;
    width: var(--clock-size);
}
.digital > * {
    margin: 5px;
}
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
@media only screen and (max-width:500px) {
    body {
        margin-left: 50px;
    }
}
.line {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
.hours, .minutes, .seconds, .apm {
    background-color: rgb(255, 255, 255, .2);
    padding: 5px;
    border-radius: 10px;
}